.rsvp__wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.rsvp__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.rsvp__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.rsvp__formWrapper {
  background: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 100ms ease-in-out;
  margin: 0 10px;
  z-index: 1;
  min-width: 450px;
}

.rsvp__formLeaf1 {
  width: 150px;
  height: 150px;
  background: url('../leaf1.png');
  background-size: contain;
  position: absolute;
  z-index: 0;
  left: calc(50% - 320px);
  transform: rotate(-60deg);
}

.rsvp__formLeaf2 {
  width: 75px;
  height: 75px;
  background: url('../leaf1.png');
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: calc(50% - 50px);
  left: calc(50% + 200px);
  transform: rotate(60deg);
}

@media (max-width: 575px) {
  .rsvp__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .rsvp__formWrapper {
    min-width: inherit;
  }

  .rsvp__formLeaf1 {
    top: calc(50% + 100px);
    left: calc(50% - 250px);
  }

  .rsvp__formLeaf2 {
    top: calc(50% - 140px);
    left: calc(50% + 130px);
  }
}
