.rsvp__wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.rsvp__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.rsvp__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.rsvp__formWrapper {
  background: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 100ms ease-in-out;
  margin: 0 10px;
  z-index: 1;
  min-width: 450px;
}

.rsvp__form {
  padding: 40px;
}

.rsvp__form__submit {
  color: white;
  background-color: black;
  border-color: black;
  transition: all 100ms ease-in-out;
  z-index: 100;
  padding: 12px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.6rem;
}
button.rsvp__form__submit:focus,
button.rsvp__form__submit.focus,
button.rsvp__form__submit:hover,
button.rsvp__form__submit:active,
button.rsvp__form__submit.active,
button.rsvp__form__submit:active:hover {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.8);
}

.rsvp__form__errorWrapper {
  position: relative;
  height: 0;
  overflow: visible;
  z-index: 0;
}

.rsvp__form__error {
  color: #d21b1b;
  position: absolute;
  top: 4px;
  z-index: 0;
  transition: all 100ms ease-in-out;
}

.rsvp__guestInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.rsvp__guestInputIndex {
  font-size: 2rem;
  min-width: 20px;
}

.rsvp__guestInputInput {
  flex: 1;
}

.rsvp__successWrapper {
  top: 0;
  padding: 40px;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.rsvp__formLeaf1 {
  width: 150px;
  height: 150px;
  background: url('../leaf1.png');
  background-size: contain;
  position: absolute;
  z-index: 0;
  left: calc(50% - 320px);
  transform: rotate(-60deg);
}

.rsvp__formLeaf2 {
  width: 75px;
  height: 75px;
  background: url('../leaf1.png');
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: calc(50% - 50px);
  left: calc(50% + 200px);
  transform: rotate(60deg);
}
